html,
body {
	&:dir(rtl) {
		font-family:
			'Vazirmatn',
			-apple-system,
			BlinkMacSystemFont,
			Segoe UI,
			Roboto,
			Oxygen,
			Ubuntu,
			Cantarell,
			Fira Sans,
			Droid Sans,
			Helvetica Neue,
			sans-serif;

		.switch {
			input:checked+div:after {
				transform: translateX(100%);
			}
		}
	}
}